:root {
  --primary-color: #212121;
  --secondary-color: #fff;
  --tertiary-color: #3cb8e1;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  color: var(--primary-color);
}
body {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.siteName a {
  text-decoration: none;
  font-size: 2rem;
  font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex: 1;
  padding: 0.3rem;
  margin: 0.5rem;
}

nav ul li a {
  color: var(--secondary-color);
  font-size: 1rem;
  text-decoration: none;
  font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
}

html {
  display: flex;
  justify-content: center;
}

#wrapper {
  width: 100%;
  border: 0px;
  padding: 0.5rem;
  margin: 0 auto;
  background-color: var(--secondary-color);
}

h1 {
  font-size: 1.6rem;
  font-family: "Times New Roman", Times, serif;
}

#delorean {
  width: 100%;
  background-image: url("/images/vehicles/delorean.jpg");
  background-size: contain;
  background-position-x: 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
}

div.own-today-box {
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--tertiary-color);
  width: 50%;
}

.own-today-box h2 {
  font-size: 1.25rem;
  font-family: "Times New Roman", Times, serif;
  color: inherit;
  margin: 0;
}
.own-today-box p {
  font-size: 1rem;
  font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
  color: inherit;
  margin: 0.25rem;
  font-weight: bold;
}

button.own-today-button {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 2px;
  margin-top: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
}

.reviews ul li {
  padding: 1rem 0;
}

.upgrades-list {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.upgrades-list a {
  width: calc(50% - 1rem);
  margin: 0.5rem;
  text-align: center;
}

.upgrade-img {
  background-color: var(--tertiary-color);
  border: 2px solid var(--primary-color);
  padding: 0.5rem;
}

.upgrade-img img {
  height: 5rem;
}

#inv-display {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#inv-display li {
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

#inv-display li:hover {
  transform: scale(1.05);
}

#inv-display li a {
  text-decoration: none;
  color: var(--primary-color);
  display: block;
  text-align: center;
}

#inv-display li img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

#inv-display li a:hover {
  color: var(--tertiary-color);
}

#inv-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background-color: var(--secondary-color);
  margin: 20px auto;
}

#inv-detail div:first-child {
  flex: 1;
}

#inv-detail img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

#inv-detail .details {
  margin-left: 0px;
  flex: 1;
}

#inv-detail .details h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

#inv-detail .details h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--primary-color);
}

#inv-detail .details p {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

#inv-detail .details ul {
  list-style-type: none;
  padding: 0;
}

#inv-detail .details ul li {
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

#inv-detail .details ul li strong {
  font-weight: bold;
}

#messages .notice {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #856404;
  list-style-type: none;
}

#messages .notice li {
  color: #856404;
  margin: 5px;
}

.login,
.registration {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
}

.login h2,
.registration h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--primary-color);
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: var(--tertiary-color);
  border: none;
  border-radius: 5px;
  color: var(--secondary-color);
  font-size: 16px;
  cursor: pointer;
}

.form-group button:hover {
  filter: brightness(70%);
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input:invalid:not(:focus):not(:placeholder-shown) {
  border: red 3px solid;
}

.form-group input:valid {
  border: green 3px solid;
}

.form-group input:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  nav ul li a {
    font-size: 1.2rem;
  }
  nav ul {
    padding: 0 1rem;
  }
  html {
    background-image: url("/images/site/checkerboard.jpg");
    background-size: 50%;
  }
  #wrapper {
    width: 75%;
    border: 5px solid var(--tertiary-color);
    border-radius: 5px;
    padding: 1rem;
    margin: 0 auto;
  }
  #delorean {
    padding-bottom: 4rem;
    margin: 0 auto;
    width: 75%;
  }
  .info {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  #inv-detail {
    flex-direction: row;
  }
  #inv-detail .details {
    margin-left: 10px;
  }
}
